body {
    font-size: 16pt;
}

* {
    box-sizing: border-box;
}

main {
    display: flex;
    flex-wrap: nowrap;
    min-height: 500px;
}

.messages_panel {
    width: 75%;
    display: flex;
    flex-direction: column;
}

.saved_messages {
    background-color: lightyellow;
    flex-grow: 1;
    border: lightgray solid 1px;
    border-bottom: 0;
}

.saved_messages_header {

}

.saved_messages_header h1 {
    margin: 4px;
}

.saved_messages_content {
    padding: 4px;
}

.shared_media_header {

}

.shared_media_header h1 {
    margin: 4px;
}

.shared_media_content {

}

.typing-area {
    flex-grow: 0;
    border: lightgray solid 1px;
    border-top: 0;
}

.shared_media {
    width: 25%;
    background-color: lightgray;
    border: lightgray solid 1px;
    border-left: 0;
}

.message {
    padding: 2px;
    border: 1px solid gray;
    border-radius: 4px;
    width: max-content;
}

.message:nth-child(n + 1) {
    margin-top: 4px;
}

.message-title {
    font-size: 0.8em;
    font-style: italic;
}

.post:nth-child(n + 2) {
    margin-top: 10px;
}

.message-input-text {
    width: 100%;
    padding-right: 36px;
    font-size: 1rem;
}

.message-input-button {
    margin-left: 4px;
}

.camera-icon, .microphone-icon {
    width: 16px;
    height: 16px;
}

.message-input-container {
    position: relative;
    width: 100%;
}

.message-video-link {
    position: absolute;
    right: 20px;
    top: 4px;
    text-decoration: none;
    line-height: 0;
}

.message-video-link:hover {
    background-color: lightgray;
}

.message-audio-link {
    position: absolute;
    right: 2px;
    top: 4px;
    text-decoration: none;
    line-height: 0;
}

.message-audio-link:hover {
    background-color: lightgray;
}

.post-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.post-title {
    align-self: flex-end;
}

.tip {
    position: absolute;
    background-color: white;
    z-index: 500;
}

.tip-hidden {
    display: none;
}

.tip-text {
    font-style: italic;
    color: darkred;
}

.video-recorder-dialog {
    width: 400px;
    height: 500px;
    position: absolute;
    top: calc(30% - 250px/2);
    left: calc(50% - 400px/2);
    border: 1px solid black;
    border-radius: 10px;
    z-index: 2;
    background-color: white;
}

.video-recorder-dialog-audio {
    width: 400px;
    height: 180px;
}

.video-recorder-video {
    width: 380px;
    height: 380px;
}

.video-recorder-audio {
    width: 380px;
    height: 60px;
}

.video-recorder-dialog-base {
    content: "";
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: gray;
    opacity: 98%;
}

.video-recorder-dialog-title {
    margin: auto;
    text-align: center;
}

.video-recorder-dialog-container {
    margin-top: 20px;
    padding: 0 10px;
}

.video-recorder-dialog-name {
    display: block;
    width: 100%;
}

.video-recorder-dialog-description {
    display: block;
    width: 100%;
    min-height: 100px;
}

.video-recorder-dialog-buttons {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}

.video-recorder-dialog-cancel {
    margin-right: 4px;
}

.video-recorder-dialog-ok {
    margin-left: 4px;
}

.video-message {
    width: 380px;
    height: 240px;
}
